
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;700&family=Lato:wght@300;400;700;900&display=swap');


/* Establecer el estilo de letra para los elementos deseados */
body {
  font-family: 'Barlow Condensed', sans-serif; /* Aplicar la fuente a todo el cuerpo del documento */
  padding: 10px; /* Ajusta el espacio interno del body */
  margin: 0; /* Elimina el margen predeterminado del body */
}

/* Contenedor flex para alinear los elementos en la misma línea */
.contenedor-flex {
  display: flex;
  justify-content: space-between; /* Distribuye los contenedores al principio y al final */
  border-bottom: 2px solid #f0f0f0;
  padding: 5px;

  position: relative;
}

/* Estilo para el contenedor de texto */
.txt-socials {
    
    
}

.txt-socials h4{
    font-size: 18px;
    margin-top: 0;
}

/* Estilo para el contenedor de redes sociales */
.socials {
  display: flex; /* Asegura que los elementos dentro de socials utilicen flexbox */
 right: 0px;
 top: 0px;
 
}

/* Estilo para cada ícono de red social */
.social {
  margin-left: 10px; /* Espacio entre íconos */
  border: 1px solid #f2ecec; /* Borde negro para el contenedor de cada ícono de red social */
  overflow: hidden; /* Asegura que la imagen esté dentro del borde circular */
  border-radius: 50%;
   padding: 8px;
  background-color: #f0f0f0; /* Fondo humo blanco */
}

/* Ajustes de estilo para las imágenes */
.social img {
  width: 20px; /* Ajusta el tamaño de la imagen según tus necesidades */
  height: auto;
  object-fit: cover;
}


.navmain{
    padding-top: 2px;
    
    position: relative;
}
.nav{
  
    display: flex;
    justify-content: space-between;
    
    
}

.menu-txt{
    font-size: 25px;
    padding-left:10px;
}

.menu-txt h1{
  
}

.menu-option{
  
  position: relative;
  inset: 0;
  

}



.menu-option ul li{
  
     
    font-size: 25px;
    padding: 20px;
    color:#ffffff;
    display: block;
    font-weight: bold;
    float: left;
    margin: 0px;
    margin-top: 0px;
    right: 10px;
    top: 100px;
}
.acercaDeMi h1{
  font-size: 55px;
}
.acercaDeMi{
  font-size: 25px;
}

.misKills ul{

  display: inline;
}

.misKills li {
  font-size: 35px;
}

.misKills li::before {
  content: '-';
  margin-right: 10px; /* Ajusta el espaciado entre el guión y el texto si es necesario */
}


.misKills h1{
  margin-bottom: 0%;
  font-size: 55px;

}

.misKills h2{
  margin-bottom: 0%;
  font-size: 30px;
}

.misProyectos h1{
 font-size: 55px ; 
}

.swiper {
  width: 100%;
  height: 600px;
}

.imgSlide1{
  border-radius: 20px;
  display: block;
  margin: 0 auto;
  width: 720px;
  height: 500px;
}